.subs__ul {
}

.subs__li {
  list-style: none;
  border-radius: 4px;
  border: 1px solid #eee;
  margin-bottom: 16px;
  width: 350px;
  padding: 8px 32px;
}

.subs__img {
  border-radius: 200px;
  height: auto;
  width: 50px;
}

.subs__name {
}

.subs__description {
}
