.form__sub__container {
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.subs__ul {
}

.subs__li {
  background-color: #fff;
  list-style: none;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 16px;
  width: 350px;
  padding: 8px 32px;
  cursor: pointer;
}

.subs__img {
  border-radius: 200px;
  height: auto;
  width: 50px;
}

.subs__name {
  color: rgb(21, 33, 74);
}
